{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Financial Literacy Test (Page 2/12)
{% endblock %}

{% block content %}

    <div class="card card-body bg-light instructions" style="text-align:center">
        Please answer the following questions to the best of your ability.<br>
        If you are not sure whether you answered these questions successfully, please quit this HIT.<br>
        If you answer more than one question (out of these five) incorrectly, you do not qualify for this HIT and will NOT receive compensation.
        Thank you!
    </div>
<hr>
{% formfields %}
<hr>
{% next_button %}

{% endblock %}
